<footer>
    Copyright &copy; <span class="tm-current-year">2018</span> Shelf Company 
    
    - Designed by Tooplate
</footer>    


<!-- load JS files -->
<script src="/js/jquery-1.11.3.min.js"></script>         <!-- jQuery (https://jquery.com/download/) -->
<script src="/js/popper.min.js"></script>                <!-- Popper (https://popper.js.org/) -->
<script src="/js/bootstrap.min.js"></script>             <!-- Bootstrap (https://getbootstrap.com/) -->
<script>     

$(document).ready(function(){
    
    // Update the current year in copyright
    $('.tm-current-year').text(new Date().getFullYear());

});

</script>