<header class="tm-site-header">
    <h1 class="tm-site-name">Shelf</h1>
    <p class="tm-site-description">Your Online Bookstore</p>
    
    <nav class="navbar navbar-expand-md tm-main-nav-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
            <ul class="nav nav-fill tm-main-nav-ul">
                <li class="nav-item"><a class="nav-link <%= title === 'Home'? 'active': ''%>" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link <%= title === 'Catalog'? 'active': ''%>" href="/catalog">Catalogs</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Awards</a></li>
                <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>
                <li class="nav-item"><a class="nav-link <%= title === 'Contact Us'? 'active': ''%>" href="/contactus">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    
</header>