<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--

Template 2092 Shelf

http://www.tooplate.com/view/2092-shelf

-->
    <title>
        <%= title %>
    </title>

    <%- include('partials/css') %>
</head>

<body>

    <div class="container">
        <%- include('partials/header', {title}) %>

            <div class="tm-main-content">
                <section class="tm-margin-b-l">
                    <header>
                        <h2 class="tm-main-title">Sign In</h2>
                    </header>

                    <form action="/signin" method="GET" class="tm-contact-form">
                        
                        
                        <div class="form-group">
                            <input type="email" id="sign_email" name="signEmail" class="form-control"
                                placeholder="Email" required />
                        </div>
                        <div class="form-group">
                            <input type="password" id="sign_password" name="signPassword" class="form-control"
                                placeholder="password" required />
                        </div>
                        

                        <button id="submitBtn" type="submit" class="tm-btn tm-btn-blue float-right">Login</button>
                    </form>

                </section>


            </div>


            <!-- error modal start -->
            <div class="modal fade" tabindex="-1" role="dialog" id="errorModal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-danger">
                      <h5 class="modal-title">Erorr</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p id="errorsContainer" ></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- error modal end  -->

            <%- include('partials/footer') %>
    </div>

    <script>

        document.getElementById('submitBtn').addEventListener('click', e => {
            e.preventDefault();
            const email = document.getElementById('sign_email').value;
            const password = document.getElementById('sign_password').value;

            // validate inputs
            let errorMessage = '';

            
            
            if (email.length < 5 || email.length > 100) {
                errorMessage += 'Email should be greater than 2 and less than 50 characters<br>'
            }
            // email check using regex
            // const re = new RegExp('^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$')
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (!re.test(email.toLowerCase())) {
                errorMessage += 'Email is not a valid Email<br>';
            }
            if (password.length < 8 || password.length > 20) {
                errorMessage += 'Password should be at lest 8 and less than 20 characters<br>'
            }

            

            if (errorMessage === '') {
                fetch('/signin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({email, password })
                }).then(response => {
                    // here we need to get the response data and show message to the user upon it
                    // console.log(response);
                    if (response.status === 200) {
                        // success
                    } else {
                        if (response.status === 400) {
                            response.json().then(data => {
                                // console.log(data);
                                switch (data.errorNumber) {
                                    case 6:
                                        document.getElementById('errorsContainer').innerHTML = 'your Email is not exist on the system please sign up first';
                                        $('#errorModal').modal('show')
                                        break;
                                    case 7:
                                        document.getElementById('errorsContainer').innerHTML = 'please verify your email then try to login again';
                                        $('#errorModal').modal('show')
                                        break;
                                    case 8:
                                        document.getElementById('errorsContainer').innerHTML = 'Your password is wrong try again';
                                        $('#errorModal').modal('show')
                                        break;
                                
                                    default:
                                        document.getElementById('errorsContainer').innerHTML = 'unknown error please contact system Administrator';
                                        $('#errorModal').modal('show')
                                        break;
                                }

                            })
                        }
                    }

                }).catch(error => {
                    // error gonna happened if 
                    // there is no internet or 
                    // website is down or 
                    // if there is now rout to handel the request on server side
                    document.getElementById('errorsContainer').innerHTML = 'unknown error ';
                    $('#errorModal').modal('show')
                    console.log(error);
                })
            } else {
                document.getElementById('errorsContainer').innerHTML = errorMessage;
                $('#errorModal').modal('show')
            }

        })
    </script>


</body>

</html>